.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #33333300;
  color: #333333;
  width: 100%;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
}


/* .profile-picture {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
} */

.navigation a {
  color: #333333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
}

.navigation a:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
  color: black;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    text-align: center; 
  }

  .profile-picture {
    margin-bottom: 20px; 
  }

  .navigation {
    justify-content: center;
    flex-wrap: wrap;
  }

  .navigation a {
    font-size: 0.7rem; 
    padding: 5px;
    margin: 0 10px; 
  }
}